@import "../../styles/variable.css";

.history {
  background-color: var(--color-light-gray);
  width: 100%;
  padding-top: 70px;
}

.history__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 438px;
  margin: 0 auto;
}

.history__table-container {
  background-color: var(--color-white);
  padding: 47px 29px 0px 37px;
}
