@import "../../styles/variable.css";

.contactForm {
  background-color: var(--color-light-gray);
  width: 100%;
  padding-top: 72px;
  padding-bottom: 146px;
  display: grid;
  grid-template-columns: 570px 370px;
  column-gap: 30px;
}

.contactForm__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contactCards-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contactCard {
  background-color: var(--color-white);
  padding: 25px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.contactCard__text-container {
  display: flex;
  justify-content: space-between;
}

.contactCard__icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-yellow);
  border-radius: 100%;
  margin-bottom: 16px;
}

.contactCard__icon img {
  width: 18px;
  height: 18px;
}
