@import "../../styles/variable.css";

.information {
  background-color: var(--color-white);
  width: 305px;
}

.information__content {
  padding: 50px 45px 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.information__btn {
  width: 220px;
  height: 40px;
  background-color: var(--color-yellow);
  padding: 10px 40px;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.skills {
  padding-bottom: 25px;
  width: 100%;
}

.skills:not(:last-of-type) {
  border-bottom: 1.5px solid var(--color-light-gray);
}

.skills__caption {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.skills__bar {
  width: 220px;
  height: 4px;
  border: 0.5px solid var(--color-yellow);
  border-radius: 4px;
  padding: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skills__bar-inside {
  width: 198px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--color-yellow);
}

.skills__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
