@import "../../styles/variable.css";

.information {
  background-color: var(--color-white);
  width: 305px;
}

.information__content {
  padding: 50px 45px 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__social {
  display: flex;
  gap: 15px;
  padding-bottom: 25px;
  border-bottom: 1.5px solid var(--color-light-gray);
}

.information_main-info {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1.5px solid var(--color-light-gray);
}

.information__social-icon {
  width: 24px;
  height: 24px;
  background-color: var(--color-yellow);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.information__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.information__btn {
  width: 220px;
  height: 40px;
  background-color: var(--color-yellow);
  padding: 10px 40px;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.information__btn:hover {
  color: var(--color-white);
}

.skills {
  padding-bottom: 25px;
  width: 100%;
}

.skills:not(:last-of-type) {
  border-bottom: 1.5px solid var(--color-light-gray);
}

.skills__caption {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.skills__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
