@import "../../styles/variable.css";

.header {
  background-color: var(--color-white);
  width: 100%;
}

.header__container {
  padding: 93px 0px 74px 63px;
  position: relative;
}

.header__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-black);
  max-width: 550px;
}

.header__text-span-color {
  color: var(--color-yellow);
}

.header__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-dark-grey);
  max-width: 424px;
  padding: 18px 0 25px 0;
}

.header__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__background-item {
  position: absolute;
  top: 70%;
  left: 38%;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 71, 255, 0.8);
  transform: rotate(26.052deg);
  box-sizing: border-box;
  animation: header-bg 14s ease-in infinite;
}

.header__background-item:nth-child(2) {
  top: 10%;
  left: 80%;
  border-color: rgba(255, 180, 0, 0.8);
  animation-delay: 2s;
}

.header__background-item:nth-child(3) {
  top: 10%;
  left: 10%;
  border-radius: 100%;
  border-color: rgba(255, 180, 0, 0.8);
  animation-delay: 4s;
}

.header__background-item:nth-child(4) {
  top: 80%;
  left: 60%;
  border-radius: 100%;
  border-color: rgba(255, 180, 0, 0.8);
  animation-delay: 6s;
}

.header__background-item:nth-child(5) {
  top: 85%;
  left: 10%;
  border-radius: 100%;
  border-color: rgba(5, 255, 0, 0.8);
  animation-delay: 8s;
}

.header__background-item:nth-child(6) {
  top: 10%;
  left: 50%;
  border-radius: 100%;
  border-color: rgba(5, 255, 0, 0.8);
  animation-delay: 10s;
}

.header__background-item:nth-child(7) {
  top: 83%;
  left: 90%;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  border-color: transparent;
  animation-delay: 12s;
}

@keyframes header-bg {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(7) rotate(960deg);
    opacity: 0;
  }
}

.links__link {
  display: inline-block;
  background-color: var(--color-yellow);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s ease;
  position: relative;
  z-index: 100;
}

.links__container {
  padding: 16px 32px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links__text {
  padding-right: 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-black);
  text-transform: uppercase;
  transition: 0.8s ease;
}

.links__icon {
  height: 16px;
  width: 16px;
  transition: 0.8s ease;
}

.links__link:hover {
  border-radius: 8px;
}

.links__link:hover .links__text {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.links__link:hover .links__icon {
  fill: var(--color-white);
  transform: rotate(-45deg);
  height: 32px;
  width: 32px;
}
