@import "../../styles/variable.css";

.header {
  background-color: var(--color-white);
  width: 100%;
}

.header__container {
  padding: 93px 0px 74px 63px;
}

.header__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-black);
  max-width: 550px;
}

.header__text-span-color {
  color: var(--color-yellow);
}

.header__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-dark-grey);
  max-width: 424px;
  padding: 18px 0 25px 0;
}

.links__link {
  display: inline-block;
  background-color: var(--color-yellow);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s ease;
}

.links__container {
  padding: 16px 32px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links__text {
  padding-right: 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-black);
  text-transform: uppercase;
  transition: 0.8s ease;
}

.links__icon {
  height: 16px;
  width: 16px;
  transition: 0.8s ease;
}

.links__link:hover {
  border-radius: 8px;
}

.links__link:hover .links__text {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.links__link:hover .links__icon {
  fill: var(--color-white);
  transform: rotate(-45deg);
  height: 32px;
  width: 32px;
}
