@import "../../styles/variable.css";

.nav {
  display: flex;
  flex-direction: column;
  gap: 43px;
  position: fixed;
  margin-top: 150px;
  padding: 0 34px;
}

.nav__item {
  width: 40px;
  height: 40px;
  background-color: var(--color-gray);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.nav__item:hover {
  background-color: var(--color-yellow);
}

.nav__item:hover .nav__icon {
  fill: var(--color-black);
}

.nav__item .tooltip {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 6px 15px 3px 15px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
}

.nav__item .tooltip .example-arrow {
  width: 10px;
  height: 10px;
  transform: rotate(60deg) skewX(30deg);
  z-index: -1;
}
